{{define "title" }}<title>{{.title}} Page</title>{{ end }}

{{ define "scripts" }}
<link href="/assets/css/jquery.treetable.css" rel="stylesheet"/>
<link href="/assets/css/jquery.treetable.theme.default.css" rel="stylesheet"/>
<script type="text/javascript">
	requirejs(['bootstrap']);
</script>
{{ end }}

{{define "content"}}
<div class="container" style="padding:0px 10px; width:900px;">

	<h2 class="text-center">Manatini Demo</h2>
	<h3 class="text-center">GitHub Rep
	    <a class="btn btn-link" href="https://github.com/Hobo86/gin_sample">link</a>
	</h3>
	<div class="row">
	    <div class="col-sm-12">
	        <table class="table table-bordered table-hover treetable">
	            <tr data-tt-id="0">
	                <td>app</td>
	            </tr>
	            <tr data-tt-id="1" data-tt-parent-id="0">
	                <td>routers</td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="1">
	                <td>www/home.go</td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="1">
	                <td>www/about.go</td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="1">
	                <td>www/user.go</td>
	            </tr>
	            <tr data-tt-id="3" data-tt-parent-id="0">
	                <td>models</td>
	            </tr>
	            <tr data-tt-id="4" data-tt-parent-id="0">
	                <td>templates</td>
	            </tr>
	            <tr data-tt-id="5">
	                <td>www</td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="5">
	                <td><a href="/user/1">/user/1</a></td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="5">
	                <td><a href="/login">/login</a></td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="5">
	                <td><a href="/logout">/logout</a></td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="5">
	                <td><a href="/register">/register</a></td>
	            </tr>
	            <tr data-tt-id="6">
	                <td>api</td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="6">
	                <td><a href="/api/user/1">/api/user/1</a></td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="6">
	                <td><a href="/api/login">/api/login</a></td>
	            </tr>
	            <tr data-tt-id="" data-tt-parent-id="6">
	                <td><a href="/api/register">/api/register</a></td>
	            </tr>
	        </table>
	    </div>
	</div>

	<script type="text/javascript">
		requirejs(['app/treetable/treetable-page']);
	</script>
</div>
{{ end }}